/*
Base configuration file
*/

params {
    outDir = "nf_results" // Default value - should be changed at command line
    sampleSheet = "sampleSheet.csv"
    userEmail = "Nader.Aryamanesh@sahmri.com"
}

// DON'T CHANGE ANYTHING BELOW

// Improved shell functionality:
// -e: Exit immediately when command fails
// -u: Exit if variable is unset
// -o pipefail: prevents piping from causing a non-zero exit status
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Report scope defines parameters for execution report output
report {  // Turning on execution report by default
  enabled = true
  file = "${params.outDir}/reports/report_BismarkAlignment.html"
}

// Timeline scope generates a timeline execution report
timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outDir}/reports/timeline_BismarkAlignment.html"
}

// Generate a dag of process dependencies
dag { // Turning on dag by default
  enabled = true
  file = "${params.outDir}/reports/DAG_BismarkAlignment.svg"
}

// Trace scope controls the output of the trace file
trace { // Turning on trace tracking by default
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outDir}/reports/trace_BismarkAlignment.txt"
}
